
body{
    margin: 0;
}

.header{
    background-color: rgb(232, 118, 131);
    height: 100vh;
    }
    
.container{
margin: 0px 0px;
}

.header-line{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.link{
font-weight: 600;
font-size: 20px;

}

.numb{
text-decoration: none;
font-weight: 800;
}

.phonetext{
font-weight: 500;

}
.holdphone{
display: flex;
align-items: center;
}

.butt{
background-color: rgb(55, 218, 99);
color: #fff;
text-decoration: none;
padding: 15px 20px;
font-weight: 600;
}

.menu-holder{
position: absolute;
margin-top: 200px;
margin-left: -900px;
}

.menutext{
text-decoration: none;
font-weight: 700;
font-size: 150%;
color: black;
}

.undermenu{
font-weight: 500;
font-size: 130%
}

.butt:hover{
background-color: rgb(41, 69, 12);
transition: color 0,4s linear;
}

.numb:hover{
background-color: burlywood;
transition: color 0,4s linear;
}

.menu-list{
font-weight: 700;

}

.first{
margin-top: -50px;    
background-color: antiquewhite;
margin-left: 120px;    
border: 3px black;
margin-right: 1200px;
padding: 15px 15px;
}

.menu-image{
    text-align: center;
margin-left: 10px;
}

.first-header{
text-align: center;
font-weight: 700;
font-size: 110%;
}

.menu-image-second{
margin-left: 10px;    
}
.second{
    position: absolute;
    margin-top: -195px;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 600px;    
    border: 3px black;
    margin-right: 700px;
    padding: 15px 15px;
}

.second-header{
    text-align: center;
    font-weight: 700;
    font-size: 110%;    
}

.third{
    position: absolute;
    margin-top: -190px;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 1150px;    
    border: 3px black;
    margin-right: 120px;
    padding: 15px 15px;
}
.third-header{
    text-align: center;
    font-weight: 700;
    font-size: 110%; 
}

.up-video-text{
margin-top: 300px;
font-weight: 700;
font-size: 150%; 
margin-left: 100px;   
}

.video{
margin-left: 100px;    
}

.bottom{
background-color: rgb(232, 118, 131);
height: 15vh;
}

.bottom-text{
margin-left: 100pxS;    
margin-top: 200px;  
font-weight: 700;
font-size: 150%;
}

.button2{
margin-left: 1000px;

}

.dawn{
background-color: antiquewhite;    
}