.text{
    font-weight: 600;
    font-size: 130%;
    position: absolute;
margin-left: 700px;
margin-top: -400px;
padding: 5px;
}

.fate{
    font-weight: 600;
    font-size: 130%;
    position: absolute;
    margin-left: 700px;
    margin-top: -300px;


}