body{
margin: 0;
}

.main{
background-color: darkgrey;
height: 100vh;

}

.first{
background-color: rgb(242, 187, 49);
display: inline-block;
padding: 20px;
width: 300px;
border-radius: 10%;
margin-top: 100px;
margin-left: 150px;
box-shadow: 10px 5px 5px black;
}



.second{
background-color: rgb(242, 187, 49);
display: inline-block;
padding: 20px;
width: 300px;
border-radius: 10%;
margin-left: 50px;
box-shadow: 10px 5px 5px black;
}



.third{
background-color: rgb(242, 187, 49);
display: inline-block;
padding: 20px;
width: 300px;
border-radius: 10%;
margin-left: 50px;
box-shadow: 10px 5px 5px black;
}

.hed{
text-align: center;
font-size: 130%;
font-weight: 500;
/*text-shadow: rgba(255, 255, 255, 0.492) -2px 2px;*/
text-shadow: 0 -2px 0 white, 0 2px 0 darkgray, 0 4px 4px rgba(0, 0, 0, 0.5); 
}



.hed::before {
    margin-top: -70px;
    margin-left: 100px;
    content: "";
    display: block;
    width: 100px; 
    height: 50px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50% 50% 0 0;
}
